
#click{
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    animation: fade;
    list-style-type: none;
    color: white;
    text-decoration: none;
    border: 10px black;
    animation: fade;
    animation-duration: 1.5s;
 
 
 }
 
 
 
 
 .click ul{
    list-style-type: none;
    border: 5px black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    background-color: hsl(0, 0%, 5%, 0.5);
    width: 1520px;
    animation: fade;
    animation-duration: 1.5s;
 
 }
 
 .click a{
 
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    animation: fade;
    animation-duration: 1.5s;
    list-style-type: none;
    color: white;
    text-decoration: none;
    border: 5px black;
    animation: fade;
    animation-duration: 1.5s;
 }
 
 .click a:hover{
    text-shadow: 0 1px 5px white;
 
 }
 .click a:hover{
    text-shadow: 0 2px 20px white;
 
 }



body{
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image:url(https://www.shutterstock.com/image-vector/plane-night-sky-airplane-flying-600nw-1711248121.jpg);
    background-size: cover;
    background-position: center;

    
    animation: fade;
    animation-duration: 1.5s;

}

h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);

    animation: fade;
    animation-duration: 1.5s;
}

h1:hover{
    font-size: 3.55rem;
    color: hsl(0, 0%, 15%);
    
}

.choises{
    margin-bottom: 30px;
    animation: fade;
    animation-duration: 1.5s;
}

.choises button{
    font-size: 7.5rem;
    min-width: 100px;
    margin: 0 10px;
    border-radius: 300px;
    min-height: 100px;
    background-color: hsl(0, 0%, 15%);
    border: none;

    cursor: pointer;
    animation: fade;
    animation-duration: 1.5s;

}

.choises button:hover{
    background-color: hsl(0, 0%, 25%);
    box-shadow: 0 3px 15px;

}

.choises button:active{
    background-color: hsl(0, 0%, 35%);
    box-shadow: 0 3px 20px;

}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
    animation: fade;
    animation-duration: 1.5s;


}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
    animation: fade;
    animation-duration: 1.5s;
}

.greenText, #playerScoreDisplay{
    color: hsl(130, 84%, 54%);
}
.redText, #computerScoreDisplay{
    color: hsl(0, 84%, 60%);
}
.orangeText{
    color: hsl(44, 100%, 50%);

}

.scoreDisplay{
    font-size: 2rem;
    animation: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .5;}
    to {opacity: 1;}
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: hsl(0, 0%, 5%, 0.6)
}
  
.active {
    background-color: #04AA6D;
}
  